@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body{
    /* display: grid; */
    width: 100vw;
    height: 100vh;
    background-color: #1b1b32 !important;
    align-items:center;
    color: white !important;
    font-family: "Roboto", sans-serif !important;
}

.btn{
    letter-spacing:0.2rem;
    /* width: 8vw !important; */
    font-family: "Open Sans", sans-serif !important;
    padding-right: 20px  !important;
    padding-left: 20px !important ;
}
#btns{
    display: flex;
    align-items: center;
    /* background-color: orange; */
}
i{
    position: absolute;
    left:48%;
    transform: translate(-48%,0%);
    cursor: pointer;
    color:black ;
}
textarea{
    background-color:#1b1b32 !important ;
    border: 3px solid yellow !important;
    color : white;
}
#inputText{
    color: white !important;
    font-size: 20px !important;
}

